<!-- <div class="container">
    <div class="table table-borderless">
        <tr>
            <td>
                <p><b>Employee Name</b></p>
            </td>
            <td>
                <p>{{data.data.name}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Employee Address</b></p>
            </td>
            <td>
                <p>{{data.data.address}}</p>
            </td>
        </tr>
        <tr *ngIf="data.data.number">
            <td>
                <p><b>Employee Contact Number</b></p>
            </td>
            <td>
                <p>{{data.data.number}}</p>
            </td>
        </tr>
        <tr *ngIf="data.data.email">
            <td>
                <p><b>Employee Email</b></p>
            </td>
            <td>
                <p>{{data.data.email}}</p>
            </td>
        </tr>
    </div>
</div> -->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="float-left">
                    <img class="image-fluid" src='assets/images/1.jpg' />
                    
                </div>
            </div>
            <div class="col-md-10">
                <div class="float-right">
                        <div class="float-left">
                                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                        </div>
                        <div class="float-right">
                            <div class="float-left">
                                    Rahul Kumar &nbsp;
                            </div>
                            <div style="margin-right: 57px;" class="float-right">
                                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
                                <i class="fa fa-bell-o" aria-hidden="true"></i>
                                <button style="margin-left: 22px;" type="button" class="btn btn-outline-primary">Logout</button>

                            </div>
                            
                            <div class="clearfix"></div>
                            Last Logged In: 1 Jan 2020
                            
                            
                        </div>
                        
                        <div class="clearfix"></div>
                       
                </div>
                

            </div>
        </div>
        
    </div>
</div>

<div class="adjustnav container navbar">
    <div class="subnav">
        <button id="mydiv" class="subnavbtn">About</button><!--<i class="fa fa-caret-down"></i>-->
        <div id="myAboutdiv1" class="subnav-content">
            <a href="#company">Company</a>
            <a href="#team">Team</a>
            <a href="#careers">Careers</a>
        </div>
    </div>
    <div class="subnav">
        <button id="mydiv1" class="subnavbtn">Services</button><!-- <i class="fa fa-caret-down"></i>-->
        <div id="myServicediv1" class="subnav-content">
            <a href="#bring">Bring</a>
            <a href="#deliver">Deliver</a>
            <a href="#package">Package</a>
            <a href="#express">Express</a>
        </div>
    </div>
</div>
<br/>
<br/>


<div class="container-fluid">
    <div class="row">
        
        <div class="background col-md-3">
            <div class="cardWidth">
                <p>
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                </p>
            </div>
        </div>
        <div class="background-1 col-md-6">
            <div class="cardWidth-1">
                <p>
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                </p>
            </div>
            
        </div>
        <div class="background-2 col-md-3">
            <div class="cardWidth-2">
                <p>
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                </p>
            </div>
            
        </div>
    </div>
</div>
